[Desktop Entry]
Type=Application
Name=PPA Uploader
Comment=Upload packages to a PPA
Icon=ppa-uploader
Exec=ppa-uploader
Categories=Network;
Terminal=false

Name[cs]=PPA Uploader
Comment[cs]=Posílání balíčků do PPA
