Source: deb-cup
Section: devel
Priority: optional
Maintainer: Pavel Rehak <pavel-rehak@email.cz>
Build-Depends: debhelper (>=10)
Standards-Version: 4.1.1
Homepage: https://github.com/pavreh/deb-cup

Package: deb-cup
Architecture: all
Depends: ${misc:Depends},
         zenity (>= 3.18.1.1),
         dput (>= 0.9.6.4),
         debhelper (>=9),
         devscripts (>= 2.16.2),
         build-essential (>= 12.1),
         dh-make (>= 2),
         lintian (>= 2.5.43),
         xterm,
         gnupg (>= 1.4.20),
         libnotify-bin (>= 0.7.6),
         gdebi,
         equivs,
         xed | gedit
Description: GTK+ GUI tool for creating deb packages and uploading to a PPA
 Deb Cup can:
  * Create the debian folder with template files and an empty install file.
  * Import patch.
  * Create an original source package.
  * Increment changelog.
  * Create and install a dummy package with build dependencies.
  * Create and install .deb binary package.
  * Create signed dsc and changes files (needed for uploading to a PPA).
  * Send packages to a PPA.
